<h1>Edit Book</h1>

<form name="bookForm" novalidate ng-submit="editBook()">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Edit book</h3>
        </div>
        <div class="panel-body">
          <style>
            .errors {
              color: red;
            }
          </style>

          <div>
            <label for="title">Title:</label>
            <input class="form-control" type="text" maxlength="20" ng-model="bookTitle" name="title" id="title" required>
            
            <div ng-if=" bookForm.title.$touched" ng-messages="bookForm.title.$error">
              <p ng-message="required" class="errors">* Title is required</p>
              <p ng-message="maxlength" class="errors">* Max length should be less than 20 symbols</p>
            </div>
            
          </div>

          <div>
            <label for="author">Author:</label>
            <input class="form-control" type="text" maxlength="20" ng-model="bookAuthor" name="author" id="author" required>
            
            <div ng-if="bookForm.author.$touched" ng-messages="bookForm.author.$error">
              <p ng-message="required" class="errors">* Author is required</p>
              <p ng-message="maxlength" class="errors">* Max length shold be less than 20 symbol</p>
            </div>
            
          </div>

          <div>
            <label for="category">Category:</label>
            <input class="form-control" type="text" ng-model="bookCategory" name="category" id="category" required>
            
            <div ng-if="bookForm.category.$touched" ng-messages="bookForm.category.$error">
              <p ng-message="required" class="errors">* Category is required</p>
            </div>
            
          </div>

       </div>

    <div class="panel-footer">
      <button class="btn btn-default">Edit</button>
    </div>
  </div>
</div>
</div>

</form>